<div class="nav-container">
    <div class="header-title">
        {{ 'Select a Tool' }}
    </div>
</div>
<div class="content-container">
    <ul class="list-group">
        <li class="item-row">
            <div><cel-text-link data-label="{{ 'Add a new program or eText' }}" data-show-icon="true"
                    data-icon-size="medium" data-icon-name="add-circle" data-icon-color="primary" class="hydrated"
                    data-show-icon-left="true" data-link-href="#"></cel-text-link></div>
            <div class="toolInfo">{{ 'This tool allows you to add a new program.' }}</div>
        </li>
        <li class="item-row">
            <div><cel-text-link data-label="{{ 'Existing Programs' }}" data-show-icon="true" data-icon-size="medium"
                    data-icon-name="edit" data-icon-color="primary" class="hydrated" data-show-icon-left="true"
                    data-link-href="#"></cel-text-link></div>
            <div class="toolInfo">{{ 'Edit, publish, export, and remove existing programs.' }}</div>
        </li>
        <li class="item-row">
            <div><cel-text-link data-label="{{ 'Job service listing' }}" data-show-icon="true" data-icon-size="medium"
                    data-icon-name="timer" data-icon-color="primary" class="hydrated" data-show-icon-left="true"
                    data-link-href="#"></cel-text-link></div>
            <div class="toolInfo">{{ 'Monitor the status of all jobs.' }}</div>
        </li>
        <li class="item-row">
            <div><cel-text-link data-label="{{ 'Skills and Standards Tool' }}" data-show-icon="true"
                    data-icon-size="medium" data-icon-name="edit" data-icon-color="primary" class="hydrated"
                    data-show-icon-left="true"
                    data-link-href="https://nightly-www.savvasrealizedev.com/skills-standards-tools/"></cel-text-link>
            </div>
            <div class="toolInfo">{{ 'Add, edit, and link Skills and Standards to Programs.' }}</div>
        </li>
        <li class="item-row">
            <div><cel-text-link data-label="{{ 'Savvy Admin Tool' }}" data-show-icon="true" data-icon-size="medium"
                    data-icon-name="edit" data-icon-color="primary" class="hydrated" data-show-icon-left="true"
                    data-link-href="https://savvy-admin.savvasrealizedev.com/"></cel-text-link></div>
            <div class="toolInfo">{{ 'Register and update programs that are using Savvy Admin Engine' }}</div>
        </li>
        <li class="item-row">
            <div><cel-text-link data-label="{{ 'Common cartridges
                for Pearson content' }}" data-show-icon="true" data-icon-size="medium" data-icon-name="file-export"
                    data-icon-color="primary" class="hydrated" data-show-icon-left="true"
                    data-link-href="https://nightly-www.savvasrealizedev.com/community/admin/patools/commoncartridge/exportCartridge"></cel-text-link>
            </div>
            <div class="toolInfo">{{ 'Export and manage common cartridge packages. Find existing secrets and keys.'
                }}</div>
        </li>
        <li class="item-row">
            <div><cel-text-link data-label="{{ 'LTI configuration
                for third-party content' }}" data-show-icon="true" data-icon-size="medium" data-icon-name="cog-double"
                    data-icon-color="primary" class="hydrated" data-show-icon-left="true"
                    data-link-href="https://nightly-www.savvasrealizedev.com/community/admin/patools/ltiConsumer/manage"></cel-text-link>
            </div>
            <div class="toolInfo">{{ 'Manage configuration for third-party LTI content.' }}</div>
        </li>
        <li class="item-row">
            <div><cel-text-link data-label="{{ 'LTI Advantage
                Configuration' }}" data-show-icon="true" data-icon-size="medium" data-icon-name="cog-double"
                    data-icon-color="primary" class="hydrated" data-show-icon-left="true"
                    data-link-href="https://lti-web.nightly.savvasrealizedev.com/tool/admin.html"></cel-text-link></div>
            <div class="toolInfo">{{ 'Configure an LTI Advantage integration with an external tool' }}</div>
        </li>
        <li class="item-row">
            <div><cel-text-link data-label="{{ 'Score Table Validation
                Tool' }}" data-show-icon="true" data-icon-size="medium" data-icon-name="edit" data-icon-color="primary"
                    class="hydrated" data-show-icon-left="true"
                    data-link-href="https://score-table-validator.savvasrealizedev.com/"></cel-text-link></div>
            <div class="toolInfo">{{ 'Validate the Score Table csv content and ingestion status' }}</div>
        </li>
    </ul>
</div>